@import './mixins/_buttons.scss';

.btn {
	@include btn();
	height: 36px;
	width: 85px;
	background: #ff4500 !important;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	color: #fff !important;
	&:hover {
		background: #ffc900 !important;
	}
}

.btn-block {
	@include btn();
	width: 100% !important;
	transition: 0.9s;
	-webkit-transition: 1.3s;
	-moz-transition: 0.9s;
	-ms-transition: 0.9s;
	-o-transition: 0.9s;
	background: #48ff00 !important;
	&:hover {
		background: #246e07 !important;
	}
}

.btn-create-portfolio {
	padding: 5px 12px !important;
	border: none !important;
	outline: none !important;
}
.btn-delete-portfolio {
	padding: 5px 0px !important;
	border: none !important;
	outline: none !important;
}
.btn-edit-portfolio {
	padding: 5px !important;
	background: transparent;
	border: none !important;
	outline: none !important;
}
.navbar-toggler {
	background: #eee !important;
}
