@import './fonts';
@import './index';
@import './header';

html,
body {
	height: 100%;
	width: 100%;
	// background: url('../images/wallpapersden.com_firewatch-digital-art_1600x900.jpg') 100% 100%  !important;
	font-family: 'Montserrat', 'Helvetica';
}

.clickable {
	cursor: pointer;
}

.self-typed {
	font-size: 31px;
	font-weight: bold;
	color: #000;
	// direction: rtl;
}

.base-page {
	padding-top: 150px;
}

.active {
	color: orangered !important;
}

@import './buttons';
// @import './typed';
@import './themes';
