@import "./fonts";
@import "./index";
@import "./header";
@import "./profile";
// @import './color';
@import "./alert";
@import "./slate_blog_editor";
@import "./owlCarousel";
@import "./NotPage";
@import'./cv'; 
html,
body {
  height: 100%;
  width: 100%;
  // background: url('.a./images/wallpapersden.com_firewatch-digital-art_1600x900.jpg') 100% 100%  !important;
  font-family: "Montserrat", "Helvetica";
  outline: none !important;
  border: none !important;
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  color: #000;
  // direction: rtl;
}
.active {
  color: #ff4500 !important;
}

@import "./buttons";
// @import './typed';
@import "./themes";

.base-page {
  padding-top: 70px;
  min-height: 100vh;

  .page-header {
    &-title {
      font-weight: 700;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
.MuiIconButton-root {
  padding: 3px !important;
  color: none !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}
blockquote {
  border-left: 2px solid #ff4500;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
  display: block;
}
// @import './errors'

// blog page
@import "./blogs";
@import "./about";
@import "./notification";
