@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

.cover {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  margin-top: 0;
  position: relative;
}

.main-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-section .background-image {
  width: 100%;
  height: 100%;
}

.main-section .background-image-img {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.posotion-custom {
  position: absolute;
  top: 50%;
  height: auto;
  width: 30%;
  left: 50%;
  text-align: left;
  background-color: #fff;
  padding: 25px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px) {
  .background-image-img {
    max-height: 300px !important;
  }
  .posotion-custom {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .background-image-img {
    max-height: 500px;
  }
  .posotion-custom {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;
  }
  .hero-section-content {
    width: 341px;
  }
}

.port-navbar.port-nav-base {
  z-index: 15;
  padding: 10px;
}

.port-navbar.port-nav-base .port-navbar-brand {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.port-navbar.port-nav-base .port-navbar-item {
  margin-left: 10px;
  margin-right: 10px;
}

.port-navbar.port-nav-base .port-navbar-link {
  color: #000;
  font-weight: lighter;
  letter-spacing: 0.8px;
  font-size: 18px;
}

.port-navbar.port-nav-base .port-navbar-link.active {
  color: orangered !important;
}

.port-navbar.port-nav-base .port-navbar-link:hover, .port-navbar.port-nav-base .port-navbar-link:focus {
  color: orangered !important;
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 10px;
  background: #505050;
}

.portfolio-page {
  min-height: 100vh;
  padding: 150px 0 0;
}

.portfolio-page .portfolio-card {
  background-image: linear-gradient(45deg, red 0%, orange 100%);
  border: none;
  color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  margin-bottom: 20px;
  height: 350px;
}

.portfolio-page .portfolio-card:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 5px 5px 10px #202020af;
          box-shadow: 5px 5px 10px #202020af;
}

.portfolio-page .portfolio-card:hover .readMore:before {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
}

.portfolio-page .portfolio-card-header {
  padding: 3px;
  padding-right: 7px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}

.portfolio-page .portfolio-card-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.portfolio-page .portfolio-card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 50px;
}

.react-confirm-alert-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.custom-ui .closeEvent {
  color: #fff;
  background: #19da19;
  padding: 10px 16px;
  margin-right: 6px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.custom-ui .DeleteEvent {
  padding: 10px 16px;
  outline: none;
  border: none;
  background: #fb1f1f;
  color: #ffff;
  border-radius: 5px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
  outline: none !important;
  border: none !important;
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  color: #000;
}

.active {
  color: #ff4500 !important;
}

.btn {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  height: 36px;
  width: 85px;
  background: #ff4500 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: none !important;
  outline: none !important;
  color: #fff !important;
}

.btn:hover {
  background: #ffc900 !important;
}

.btn:focus {
  border: none !important;
  outline: none !important;
}

.btn-block {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  width: 100% !important;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transition: 1.3s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  background: #48ff00 !important;
}

.btn-block:hover {
  background: #246e07 !important;
}

.btn-block:focus {
  border: none !important;
  outline: none !important;
}

.btn-create-portfolio {
  padding: 5px 12px !important;
  border: none !important;
  outline: none !important;
}

.btn-create-portfolio:focus {
  border: none !important;
  outline: none !important;
}

.btn-delete-portfolio {
  padding: 5px 0px !important;
  border: none !important;
  outline: none !important;
}

.btn-delete-portfolio:focus {
  border: none !important;
  outline: none !important;
}

.btn-edit-portfolio {
  padding: 5px !important;
  background: transparent;
  border: none !important;
  outline: none !important;
}

.btn-edit-portfolio:focus {
  border: none !important;
  outline: none !important;
}

.navbar-toggler {
  background: #eee !important;
}

.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}

.toggleTheme {
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #ccc;
  top: 64px;
  left: 10px;
  color: #fff;
}

.toggleTheme .badge:empty {
  display: inline-block !important;
}

.dark-theme {
  background: #303030;
  color: #ffff;
}

.dark-theme nav {
  background: #505050;
}

.dark-theme .posotion-custom {
  background: #303030;
}

.dark-theme .active {
  color: orangered;
}

.dark-theme .port-navbar-link {
  color: #fff !important;
}

.dark-theme .port-navbar-link.active {
  color: orangered;
}

.dark-theme .port-navbar-link:hover, .dark-theme .port-navbar-link:focus {
  color: orangered;
}

.base-page {
  padding-top: 70px;
  min-height: 100vh;
}

.base-page .page-header-title {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

.MuiIconButton-root {
  padding: 3px !important;
  color: none !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}

.port-nav-landing {
  background: transparent !important;
}

.blog-listing-page {
  min-height: 100vh;
  background-color: transparent !important;
}

.blog-listing-page .blog-body {
  padding: 50px 0 0 0;
}

.blog-listing-page .post-preview > a {
  color: #262626;
}

.blog-listing-page .post-preview > a:focus, .blog-listing-page .post-preview > a:hover {
  text-decoration: none;
  color: #ff4500;
}

.blog-listing-page .post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.blog-listing-page .post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
  color: #565656;
}

.blog-listing-page .post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #262626;
}

.blog-listing-page .post-preview > .post-meta > a {
  text-decoration: none;
  color: #262626;
}

.blog-listing-page .post-preview > .post-meta > a:focus, .blog-listing-page .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #ff4500;
}

@media only screen and (min-width: 768px) {
  .blog-listing-page .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.blog-listing-page .masthead {
  background: url("../images/blogs.jpg") !important;
  background: no-repeat center center;
  background-color: #eee;
  background-attachment: scroll;
  height: 600px;
  position: relative;
  background-position: center;
  background-size: cover;
}

.blog-listing-page .masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #505050;
  opacity: 0.5;
}

.blog-listing-page .masthead .page-heading,
.blog-listing-page .masthead .post-heading,
.blog-listing-page .masthead .site-heading {
  padding: 200px 0 150px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .blog-listing-page .masthead .page-heading,
  .blog-listing-page .masthead .post-heading,
  .blog-listing-page .masthead .site-heading {
    padding: 200px 0;
  }
}

.blog-listing-page .masthead .page-heading,
.blog-listing-page .masthead .site-heading {
  text-align: center;
}

.blog-listing-page .masthead .page-heading h1,
.blog-listing-page .masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
  font-weight: 700;
}

.blog-listing-page .masthead .page-heading .subheading,
.blog-listing-page .masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .blog-listing-page .masthead .page-heading h1,
  .blog-listing-page .masthead .site-heading h1 {
    font-size: 80px;
  }
}

.blog-listing-page .masthead .post-heading h1 {
  font-size: 35px;
}

.blog-listing-page .masthead .post-heading .meta,
.blog-listing-page .masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

.blog-listing-page .masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
}

.blog-listing-page .masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.blog-listing-page .masthead .post-heading .meta a {
  color: #262626;
}

@media only screen and (min-width: 768px) {
  .blog-listing-page .masthead .post-heading h1 {
    font-size: 55px;
  }
  .blog-listing-page .masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.blog-listing-page .text-custom {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  background: #ff4500 !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  padding: 10px 17px !important;
  text-decoration: none !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.blog-listing-page .text-custom:hover {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

.blog-listing-page footer {
  padding: 50px 0 65px;
}

.blog-listing-page footer .list-inline {
  margin: 0;
  padding: 0;
}

.blog-listing-page footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */