.cover {
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
}

.hero-section {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: white;
  width: 400px;
  position: relative;
}

.hero-section h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-section-content {
  position: absolute;
  bottom: 20px;
  width: 360px;
  left: 6%;
  z-index: 1;
}

.hero-section-content-intro {
  font-size: 14px;
  text-align: left;
  width: 88%;
}

.image {
  width: 100%;
  margin-left: -10px;
}

.hero-welcome-text > h1 {
  color: white;
  letter-spacing: 1.5px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 27px;
  margin-top: 80px;
}

.hero-welcome-bio {
  margin-top: 20px;
  color: white;
}

.hero-welcome-bio .fa-stack {
  font-size: 28px;
}

.hero-welcome-bio .list-inline-item > a {
  color: #373737;
}

.hero-welcome-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 35px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh;
}

.background-image .image {
  width: 100%;
  height: 115vh;
  opacity: 0.4;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .hero-welcome-bio h2 {
    font-size: 17px !important;
  }
  .hero-section {
    width: 341px;
    height: 445px;
    margin: 0 auto;
    margin-top: -78px;
  }
  .hero-section h2 {
    font-size: 24px;
  }
  .hero-section-content {
    width: 341px;
    margin-left: -10px;
    text-align: left;
  }
  .hero-welcome-text > h1 {
    margin-top: 0px;
    font-size: 17px !important;
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh;
}

.background-image .image {
  width: 103%;
  height: 115vh;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
          box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #3bace5;
  margin-left: -6px;
}

.shadow-custom .shadow-inner {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
          box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
}

.shadow-custom-2 {
  border: 2px solid #212121;
  -webkit-box-shadow: 0px 3px 25px #212121;
          box-shadow: 0px 3px 25px #212121;
}

.cover-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#093588), to(#072380));
  background: linear-gradient(to bottom, #093588, #072380);
  height: 115vh;
}

.cover-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#212121));
  background-image: linear-gradient(to bottom, black, #212121);
  height: 115vh;
}

.cover-1 .self-typed {
  color: #ffa900;
}

.flipper {
  transition: 3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}

.flipper.isFlipping {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 9999;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.service-link {
  position: absolute;
  bottom: 0;
  color: white;
  font-style: italic;
  font-size: 13px;
}

.service-link > a {
  color: white;
}

.service-link .hero-welcome-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 35px;
  font-size: 10px;
}

.port-navbar.port-nav-base {
  z-index: 15;
  padding: 10px;
}

.port-navbar.port-nav-base .port-navbar-brand {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.port-navbar.port-nav-base .port-navbar-item {
  margin-left: 0;
  margin-right: 0;
}

.port-navbar.port-nav-base .port-navbar-link {
  color: #000;
  font-weight: lighter;
  letter-spacing: 0.8px;
  font-size: 18px;
}

.port-navbar.port-nav-base .port-navbar-link.active {
  color: orangered !important;
  border-bottom: 1px solid orangered;
  border-width: 0;
}

.port-navbar.port-nav-base .port-navbar-link:hover, .port-navbar.port-nav-base .port-navbar-link:focus {
  color: orangered !important;
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 10px;
  background: #505050;
}

.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  background-color: #eee;
}

.portfolio-page {
  min-height: 100vh;
  padding: 150px 0 0;
}

.portfolio-page .portfolio-card {
  background-image: linear-gradient(45deg, red 0%, orange 100%);
  border: none;
  color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  margin-bottom: 20px;
  height: 350px;
}

.portfolio-page .portfolio-card:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 5px 5px 10px #202020af;
          box-shadow: 5px 5px 10px #202020af;
}

.portfolio-page .portfolio-card:hover .readMore:before {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
}

.portfolio-page .portfolio-card-header {
  padding: 3px;
  padding-right: 7px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}

.portfolio-page .portfolio-card-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.portfolio-page .portfolio-card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 50px;
}

.react-confirm-alert-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.custom-ui .closeEvent {
  color: #fff;
  background: #19da19;
  padding: 10px 16px;
  margin-right: 6px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.custom-ui .DeleteEvent {
  padding: 10px 16px;
  outline: none;
  border: none;
  background: #fb1f1f;
  color: #ffff;
  border-radius: 5px;
}

.controll-menu {
  text-align: right;
  border-bottom: 1px solid gray;
  padding-bottom: 55px;
  margin-bottom: 20px;
}

.controll-menu .title {
  float: left;
  font-weight: bold;
}

.controll-menu .status-box {
  display: inline-block;
  margin-right: 15px;
}

.controll-menu .bg-custom-save {
  padding: 7px 23px;
  border: none;
  outline: none;
  text-align: center;
}

.NotPage {
  width: 100%;
  height: 70vh;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NotPage img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html,
body {
  outline: none !important;
  border: none !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  font-family: sans-serif !important;
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  color: #000;
}

.active {
  color: #ff4500 !important;
}

.btn {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  background: #ff4500 !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: none !important;
  outline: none !important;
  color: #fff !important;
}

.btn:hover {
  background: #ffc900 !important;
}

.btn:focus {
  border: none !important;
  outline: none !important;
}

.btn-block {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  width: 100% !important;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transition: 1.3s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  background: #48ff00 !important;
}

.btn-block:hover {
  background: #246e07 !important;
}

.btn-block:focus {
  border: none !important;
  outline: none !important;
}

.btn-create-portfolio {
  padding: 5px 12px !important;
  border: none !important;
  outline: none !important;
}

.btn-create-portfolio:focus {
  border: none !important;
  outline: none !important;
}

.btn-delete-portfolio {
  padding: 5px 0px !important;
  border: none !important;
  outline: none !important;
}

.btn-delete-portfolio:focus {
  border: none !important;
  outline: none !important;
}

.btn-edit-portfolio {
  padding: 5px !important;
  background: transparent;
  border: none !important;
  outline: none !important;
}

.btn-edit-portfolio:focus {
  border: none !important;
  outline: none !important;
}

.navbar-toggler {
  background: #eee !important;
}

.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}

.toggleTheme {
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #ccc;
  top: 64px;
  left: 10px;
  color: #fff;
}

.toggleTheme .badge:empty {
  display: inline-block !important;
}

.dark-theme {
  background: #303030;
  color: #ffff;
}

.dark-theme nav {
  background: #505050;
}

.dark-theme .posotion-custom {
  background: #303030;
}

.dark-theme .active {
  color: orangered;
}

.dark-theme .port-navbar-link {
  color: #fff !important;
}

.dark-theme .port-navbar-link.active {
  color: orangered;
}

.dark-theme .port-navbar-link:hover, .dark-theme .port-navbar-link:focus {
  color: orangered;
}

.base-page {
  padding-top: 70px;
  min-height: 100vh;
}

.base-page .page-header-title {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

.MuiIconButton-root {
  padding: 3px !important;
  color: none !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}

blockquote {
  border-left: 2px solid #ff4500;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
  display: block;
}

.port-nav-landing {
  background: transparent !important;
}

.blog-listing-page {
  min-height: 100vh;
  background-color: transparent !important;
}

.blog-listing-page .blog-body {
  padding: 50px 0 0 0;
}

.blog-listing-page .post-preview > a {
  color: #262626;
}

.blog-listing-page .post-preview > a:focus, .blog-listing-page .post-preview > a:hover {
  text-decoration: none;
  color: #ff4500;
}

.blog-listing-page .post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.blog-listing-page .post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
  color: #565656;
}

.blog-listing-page .post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #262626;
}

.blog-listing-page .post-preview > .post-meta > a {
  text-decoration: none;
  color: #262626;
}

.blog-listing-page .post-preview > .post-meta > a:focus, .blog-listing-page .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #ff4500;
}

@media only screen and (min-width: 768px) {
  .blog-listing-page .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.blog-listing-page .text-custom {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  background: #ff4500 !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  padding: 10px 17px !important;
  text-decoration: none !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.blog-listing-page .text-custom:hover {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

.blog-listing-page footer {
  padding: 50px 0 65px;
}

.blog-listing-page footer .list-inline {
  margin: 0;
  padding: 0;
}

.blog-listing-page footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.masthead {
  background: url("../images/2.jpg") !important;
  background-size: 100% 130% !important;
  background-repeat: no-repeat !important;
  background-color: #320a5f;
  height: 690px;
  width: 100%;
  position: relative;
}

.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  opacity: 0.6;
}

.masthead .page-heading,
.masthead .post-heading,
.masthead .site-heading {
  padding: 200px 0 150px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .masthead .page-heading,
  .masthead .post-heading,
  .masthead .site-heading {
    padding: 200px 0;
  }
}

.masthead .page-heading,
.masthead .site-heading {
  text-align: center;
}

.masthead .page-heading h1,
.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
  font-weight: 700;
}

.masthead .page-heading .subheading,
.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .masthead .page-heading h1,
  .masthead .site-heading h1 {
    font-size: 80px;
  }
}

.masthead .post-heading h1 {
  font-size: 35px;
}

.masthead .post-heading .meta,
.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
}

.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.masthead .post-heading .meta a {
  color: #262626;
}

@media only screen and (min-width: 768px) {
  .masthead .post-heading h1 {
    font-size: 55px;
  }
  .masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.base-page.blog-user-page {
  padding-top: 50px;
}

.base-page .user-blogs-list {
  list-style: none;
  padding: 20px;
}

.base-page .user-blogs-list > li {
  font-size: 24px;
  text-align: left;
  padding-left: 19px;
}

.base-page .user-blogs-list > li > a {
  text-decoration: none;
}

.base-page .blog-status-title {
  font-weight: bold !important;
  letter-spacing: 1.3px;
}

.base-page .port-dropdown {
  float: right;
}

.base-page .port-dropdown .style-dark {
  background: #565656 !important;
  padding: 7px 12px !important;
}

.masthead-two {
  background: url("../images/forest-2560x1440-mountains-violet-birds-art-hd-16431.jpg") !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-color: #eee;
  background-attachment: fixed !important;
  height: 700px;
  position: relative;
  background-size: cover;
}

.masthead-two .page-heading,
.masthead-two .post-heading,
.masthead-two .site-heading {
  padding: 200px 0 150px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .masthead-two .page-heading,
  .masthead-two .post-heading,
  .masthead-two .site-heading {
    padding: 200px 0;
  }
}

.masthead-two .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
}

.masthead-two .page-heading,
.masthead-two .site-heading {
  text-align: center;
}

.masthead-two .page-heading h1,
.masthead-two .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
  font-weight: 700;
}

.masthead-two .page-heading .subheading,
.masthead-two .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .masthead-two .page-heading h1,
  .masthead-two .site-heading h1 {
    font-size: 80px;
  }
}

.masthead-two .post-heading h1 {
  font-size: 35px;
}

.masthead-two .post-heading .meta,
.masthead-two .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

.masthead-two .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
}

.masthead-two .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.masthead-two .post-heading .meta a {
  color: #262626;
}

@media only screen and (min-width: 768px) {
  .masthead-two .post-heading h1 {
    font-size: 55px;
  }
  .masthead-two .post-heading .subheading {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .blog-details-page p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .masthead {
    height: 250px;
  }
  .masthead .site-heading {
    padding: 90px !important;
  }
  .masthead .site-heading h1 {
    font-size: 30px !important;
  }
  .masthead .site-heading span {
    font-size: 15px !important;
  }
  .blog-listing-page .text-custom {
    padding: 7px !important;
    font-size: 14px !important;
  }
}

.about-page {
  padding-top: 40px !important;
}

.about-page .left-side {
  margin-top: 10vh;
  color: black;
  text-align: left;
}

.about-page .fadein {
  opacity: 0;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
}

.about-page .title {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  font-size: 42px;
  font-weight: bold;
}

.about-page .subtitle {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
  font-size: 33px;
}

.about-page .subsubTitle {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
  font-size: 18px;
}

.about-page .biography {
  -webkit-animation-delay: 4.6s;
  animation-delay: 4.6s;
  font-weight: bold;
}

.about-page .biography ::first-letter {
  font-size: 25px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .about-page .left-side {
    border-bottom: 1px solid #80808071;
  }
  .biography {
    padding-top: 10px;
  }
}

.Toastify__toast-container {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */